:root {
    --color-white: #fff;
    /* Primary color */
    --color-primary: #ffb900;
    /* --color-primary-light: #fbd068; */
    /* Grey */
    --color-dark-grey: #191919;
    --color-red-1: #E60023;
    --color-red-2: #d13945;
    --color-maroon: #c82872;
    --color-voilet: #5d2391;
    --color-dark-blue-1: #4267B2;
    --color-sky-blue: #00aad5;
    --color-black: #000;
    /* Shapes */
    --shape-polygon: polygon(47.5% 5.66987%, 48.2899% 5.30154%, 49.13176% 5.07596%, 50% 5%, 50.86824% 5.07596%, 51.7101% 5.30154%, 52.5% 5.66987%, 87.14102% 25.66987%, 87.85495% 26.16978%, 88.47124% 26.78606%, 88.97114% 27.5%, 89.33948% 28.2899%, 89.56505% 29.13176%, 89.64102% 30%, 89.64102% 70%, 89.56505% 70.86824%, 89.33948% 71.7101%, 88.97114% 72.5%, 88.47124% 73.21394%, 87.85495% 73.83022%, 87.14102% 74.33013%, 52.5% 94.33013%, 51.7101% 94.69846%, 50.86824% 94.92404%, 50% 95%, 49.13176% 94.92404%, 48.2899% 94.69846%, 47.5% 94.33013%, 12.85898% 74.33013%, 12.14505% 73.83022%, 11.52876% 73.21394%, 11.02886% 72.5%, 10.66052% 71.7101%, 10.43495% 70.86824%, 10.35898% 70%, 10.35898% 30%, 10.43495% 29.13176%, 10.66052% 28.2899%, 11.02886% 27.5%, 11.52876% 26.78606%, 12.14505% 26.16978%, 12.85898% 25.66987%);
    /* Fonts */
    --bold: 700;
    --regular: 400;
    --light: 300;
    /* Opacity */
    --alpha: 0.4;
    /* Border */
    --border: 1px solid #cccccc;
}

.bg-blue {
    background-color: rgb(66, 103, 178);
}

.bg-skyblue {
    background-color: rgb(0, 178, 255);
}

.bg-red {
    background-color: rgb(230, 0, 35);
}

.bg-yellow {
    background-color: rgb(255, 153, 0);
}

.bg-limegreen {
    background-color: rgb(37, 211, 102);
}

.bg-maroon {
    background-color: rgb(225, 48, 108);
}

.bg-orangered {
    background-color: rgb(252, 100, 45);
}